@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  /* height: 100vh; */
  width: 100%;
  background-color: #202334;
  color:#ffffff;
  max-width:1400px;
  justify-content: center;
  margin: 0px 100px;
  /* margin: 40px; */
}

/* Debut Definition du header menu navigation */
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 5%;
}

.logo{
  cursor: pointer;
}

.nav{
 list-style:none;
}

.nav li{
 list-style:none;
  display: inline-block;
  padding: 0px 20px;
}

.nav li a{
   color:#ffffff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
  transition: all 0.3s ease 0s;
  
}
.nav li a:hover{
  /* color: rgb(229, 149, 164); */
  opacity:0.8;
}


/* Gestion de focus sur la navigation
*
*/
li a:after {
  content: '';
  display: block;
  margin: auto;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

 li a:hover, a:hover:after {
  width: 95%;
  border-radius: 2px;
  color: rgb(229, 149, 164);
}

li a:focus:after,li a:active:after   {
    content: '';
  width: 95%;
  border-radius: 2px;
  background: rgb(229, 149, 164);
}
/* Fin  Definition du header menu navigation */


/*
* 
*/
#container {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  background-color: #202334;
  width: 100%;
}

.contact-box {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #2d3049;
  border-radius: 20px;
  box-shadow: 3px 3px 15px 3px #141622;
  overflow: hidden;
}

/*
pour modifier le visuel du formulaire dynamiquement (classe secondaire generé par jQery)
*/
.result{
  display: flex;
  flex-direction: column;
  width:50%;
  /* max-width: 1200px; */
  /* margin: 0px 100px; */
  /* height: 90vh; */
}

.result > p{
   margin: 20px 50px ;
   padding: 0 50px;
  /* font-size:25px; */
}

.result .titre{
  font-size:28px;
}

/**
*Panneau latéral gauche
*/

.left {
  display: flex;
  height: 100%;
  width: 50%;
  border-radius: 20px;
   /* text-align: center; */
  align-items: center;
   object-fit: "contain";
  overflow: hidden;

}


/**
*Panneau latéral droit
*/
.right {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 25px 40px;
 
  /* color: white; */
  background-color: #2d3049;
}

/*
*definition du bouton soumettre
*/
input[type="submit"] {
  /* background: transparent; */
  
    align-items: center;
  margin: 5px;
  background: rgb(229, 149, 164);
  background: linear-gradient(
    63deg,
    rgba(229, 149, 164, 1) 0%,
    rgba(183, 126, 170, 1) 100%
  );
  border-radius: 15px;
  height: 45px;
  width: 200px;
  border: none;

  
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
    
input[type="submit"]:hover {
  border: white;
  transform: translateY(-2px);
}

/* bouton enfoncé uniqmenet */
input[type="submit"]:active {
  border: 1px solid white;
  transform: translateY(-2px);
  opacity:0.8;
}
/*
* fin de definition du bouton soumettre
*/



.title {
    font-family: "Nunito-Bold";
    font-size: 28px!important;
    font-weight: 700;
    line-height: 35px;
}

h2{
  font-size: 21px!important;
   font-weight: 400;
   margin-top: 40px;
}

form  input{
    width:90%;
    height:40px;
    margin:100px 30px;
    padding-left:10px;
    border-radius: 10px;
    margin:20px;
}
form label  {
  display:none;
}

#loader {
    margin-top:10px;
}

/*
* Pour le message informatif de retour de la saisie
*/
#retour{
    /* display:none; */
    text-align: left;
    margin-left: 20px;
    margin-top:10px;
}


/*
*MEdia query pour gerer les ecran moins faire passer le panneau de ggauche au de ssus de celui de droite ( modification de flex row -> flex colonom ou utilisation de grid ( layout area ..) a refaire...
*/

/* @media screen and (max-width: 640px) {
  .contact-box {
     /display:flex;
     flex-direction: column;
    clear:both; *
  }
} */
